In [1]:
!pwd

/Users/michelle/gwu2/hw/Module_20_Final_Project

In [2]:
!ls

Book1.xlsx                           Untitled.ipynb
Final_Project_Weather_API_Test.ipynb Untitled1.ipynb
README.md                            ~$Book1.xlsx

In [15]:
import pandas as pd, requests
WEATHER_API_KEY = "b4f0b753cb08149f9b346a17c5fb0ff7"

In [4]:
location_df = pd.read_excel('Book1.xlsx')
location_df.head()

  state   latitude   longitude        name
0    AK  63.588753 -154.493062      Alaska
1    AL  32.318231  -86.902298     Alabama
2    AR  35.201050  -91.831833    Arkansas
3    AZ  34.048928 -111.093731     Arizona
4    CA  36.778261 -119.417932  California

In [8]:
pref = location_df[location_df['state'].isin(['DC','CA','MA'])]
pref

   state   latitude   longitude                  name
4     CA  36.778261 -119.417932            California
7     DC  38.905985  -77.033418  District of Columbia
19    MA  42.407211  -71.382437         Massachusetts

In [18]:
# create an empty dataframe
for index, row in pref.iterrows():
    DC_url = "http://api.openweathermap.org/data/2.5/air_pollution/history?lat=" + str(row[1]) + "&lon=" + str(row[2]) + "&start=1606453200&end=1630468800"  + "&appid=" + WEATHER_API_KEY
    response = requests.get(DC_url)
#     pull data from response
# add your state and name and lat from the iterrows
# have all the data add to the empty dataframe
#     print(f'{DC_url} \n {response}')

http://api.openweathermap.org/data/2.5/air_pollution/history?lat=36.778261&lon=-119.417932&start=1606453200&end=1630468800&appid=b4f0b753cb08149f9b346a17c5fb0ff7
 <Response [200]>
http://api.openweathermap.org/data/2.5/air_pollution/history?lat=38.905985&lon=-77.033418&start=1606453200&end=1630468800&appid=b4f0b753cb08149f9b346a17c5fb0ff7
 <Response [200]>
http://api.openweathermap.org/data/2.5/air_pollution/history?lat=42.407211&lon=-71.382437&start=1606453200&end=1630468800&appid=b4f0b753cb08149f9b346a17c5fb0ff7
 <Response [200]>

In [22]:
sample_req = requests.get('http://api.openweathermap.org/data/2.5/air_pollution/history?lat=42.407211&lon=-71.382437&start=1606453200&end=1630468800&appid=b4f0b753cb08149f9b346a17c5fb0ff7').json()

In [33]:
ma = pref.iloc[[2]]
ma

   state   latitude  longitude           name
19    MA  42.407211 -71.382437  Massachusetts

In [41]:
frame = pd.json_normalize(sample_req,record_path=['list'])
frame['State'] = ma['state'].iloc[0]
frame['Lat'] = ma['latitude'].iloc[0]

In [42]:
frame.head()

,dt,main.aqi,components.co,components.no,components.no2,components.o3,components.so2,components.pm2_5,components.pm10,components.nh3,State,Lat
0,1606453200,1,367.17,0.53,25.36,4.65,0.31,5.44,6.72,0.14,MA,42.407211
1,1606456800,1,357.15,0.29,22.96,5.01,0.26,4.91,5.87,0.08,MA,42.407211
2,1606460400,1,330.45,0.09,18.34,8.14,0.22,4.14,4.91,0.06,MA,42.407211
3,1606464000,1,297.07,0.04,12.85,12.52,0.21,3.40,4.01,0.04,MA,42.407211
4,1606467600,1,277.04,0.02,9.17,15.74,0.24,2.91,3.41,0.04,MA,42.407211

In [ ]:
#datacollection put into DB 
#PostgresSQL
#linked to database to ML model