In [2]:
import pandas as pd
from sqlalchemy import create_engine
from getpass import getpass

### Storing CSV into DataFrame

In [3]:
csv_file = "Resources/AQI_data.csv"
AQI_data_df = pd.read_csv(csv_file)
AQI_data_df.head()

,Date,State,Latitude,Longitude,AQI,CO,NO,NO2,O3,SO2,PM2_5,PM10,NH3,dt
0,2020-11-27 05:00:00,AK,63.588753,-154.493062,1,195.27,0.0,0.03,54.36,0.06,0.5,0.54,0.0,1606453200
1,2020-11-27 06:00:00,AK,63.588753,-154.493062,1,196.93,0.0,0.03,56.51,0.06,0.5,0.54,0.0,1606456800
2,2020-11-27 07:00:00,AK,63.588753,-154.493062,1,198.60,0.0,0.03,57.94,0.07,0.5,0.54,0.0,1606460400
3,2020-11-27 08:00:00,AK,63.588753,-154.493062,1,198.60,0.0,0.03,58.65,0.07,0.5,0.54,0.0,1606464000
4,2020-11-27 09:00:00,AK,63.588753,-154.493062,1,198.60,0.0,0.03,58.65,0.07,0.5,0.54,0.0,1606467600

### Saving different DataFrames

In [4]:
# Creating dataframe for state_data_table
state_data_table_df = AQI_data_df[['Date','State','Latitude',"Longitude"]]
state_data_table_df.head()

                  Date State   Latitude   Longitude
0  2020-11-27 05:00:00    AK  63.588753 -154.493062
1  2020-11-27 06:00:00    AK  63.588753 -154.493062
2  2020-11-27 07:00:00    AK  63.588753 -154.493062
3  2020-11-27 08:00:00    AK  63.588753 -154.493062
4  2020-11-27 09:00:00    AK  63.588753 -154.493062

In [5]:
# Creating dataframe for state_data_table
state_data_table_tst = AQI_data_df[['Date','State','Latitude',"Longitude"]].reset_index()
state_data_table_tst.head()

   index                 Date State   Latitude   Longitude
0      0  2020-11-27 05:00:00    AK  63.588753 -154.493062
1      1  2020-11-27 06:00:00    AK  63.588753 -154.493062
2      2  2020-11-27 07:00:00    AK  63.588753 -154.493062
3      3  2020-11-27 08:00:00    AK  63.588753 -154.493062
4      4  2020-11-27 09:00:00    AK  63.588753 -154.493062

In [7]:
# Creating dataframe for pollutents_data_table
pollutents_data_table_df = AQI_data_df[['Date','State','CO','NO','NO2','O3','SO2','PM2_5','PM10','NH3']]
pollutents_data_table_df.head()

                  Date State      CO   NO   NO2     O3   SO2  PM2_5  PM10  NH3
0  2020-11-27 05:00:00    AK  195.27  0.0  0.03  54.36  0.06    0.5  0.54  0.0
1  2020-11-27 06:00:00    AK  196.93  0.0  0.03  56.51  0.06    0.5  0.54  0.0
2  2020-11-27 07:00:00    AK  198.60  0.0  0.03  57.94  0.07    0.5  0.54  0.0
3  2020-11-27 08:00:00    AK  198.60  0.0  0.03  58.65  0.07    0.5  0.54  0.0
4  2020-11-27 09:00:00    AK  198.60  0.0  0.03  58.65  0.07    0.5  0.54  0.0

### Connecting to AWS database

In [ ]:
# rds_connection_string = "<insert user name>:<insert password>@localhost:5432/customer_db"
# rds_connection_string = "jdbc:postgresql://final-project-db.cr0qbwwhutcx.us-east-2.rds.amazonaws.com:5432/final-project-db"
# rds_connection_string = "postgres:eslaES*9343p@localhost:5432/postgres"
getpass('Enter database password')
engine = create_engine('postgresql://postgres:password@final-project-db.cr0qbwwhutcx.us-east-2.rds.amazonaws.com:5432/postgres')

### Check for tables

In [ ]:
engine.table_names()

In [63]:
# Adding data into state_data_df
state_data_table_tst.to_sql(name='state_data_table', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "index" of relation "state_data_table" does not exist
LINE 1: INSERT INTO state_data_table (index, "Date", "State", "Latit...
                                      ^

[SQL: INSERT INTO state_data_table (index, "Date", "State", "Latitude", "Longitude") VALUES (%(index)s, %(Date)s, %(State)s, %(Latitude)s, %(Longitude)s)]
[parameters: ({'index': 0, 'Date': '2020-11-27 05:00:00', 'State': 'AK', 'Latitude': 63.588753000000004, 'Longitude': -154.493062}, {'index': 1, 'Date': '2020-11-27 06:00:00', 'State': 'AK', 'Latitude': 63.588753000000004, 'Longitude': -154.493062}, {'index': 2, 'Date': '2020-11-27 07:00:00', 'State': 'AK', 'Latitude': 63.588753000000004, 'Longitude': -154.493062}, {'index': 3, 'Date': '2020-11-27 08:00:00', 'State': 'AK', 'Latitude': 63.588753000000004, 'Longitude': -154.493062}, {'index': 4, 'Date': '2020-11-27 09:00:00', 'State': 'AK', 'Latitude': 63.588753000000004, 'Longitude': -154.493062}, {'index': 5, 'Date': '2020-11-27 10:00:00', 'State': 'AK', 'Latitude': 63.588753000000004, 'Longitude': -154.493062}, {'index': 6, 'Date': '2020-11-27 11:00:00', 'State': 'AK', 'Latitude': 63.588753000000004, 'Longitude': -154.493062}, {'index': 7, 'Date': '2020-11-27 12:00:00', 'State': 'AK', 'Latitude': 63.588753000000004, 'Longitude': -154.493062}  ... displaying 10 of 26560 total bound parameter sets ...  {'index': 26558, 'Date': '2021-09-01 03:00:00', 'State': 'MA', 'Latitude': 42.407211, 'Longitude': -71.382437}, {'index': 26559, 'Date': '2021-09-01 04:00:00', 'State': 'MA', 'Latitude': 42.407211, 'Longitude': -71.382437})]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [64]:
# Reading data from state_data_df
pd.read_sql_query('select * from state_data_table', con=engine).head()

Empty DataFrame
Columns: []
Index: []

## New Cell test

In [22]:
rds_connection_string_2 = ":eslaES*9343p@localhost:5432/postgres/postgres@AWS_Final_Project"

In [46]:
# engine = create_engine(f'postgresql://{rds_connection_string_2}')
# engine = create_engine('postgresql://postgres:postgres@<AWS_RDS_end-point>:5432/postgres')
engine = create_engine('postgresql://postgres:eslaES*9343aWsaMzN@final-project-db.cr0qbwwhutcx.us-east-2.rds.amazonaws.com:5432/postgres')

In [47]:
engine.table_names()

['state_data_table', 'aqi_data_table', 'pollutents_data_table']

## Next test

In [36]:
# import psycopg2
# connection = psycopg2.connect(
#     host = 'final-project-db.cr0qbwwhutcx.us-east-2.rds.amazonaws.com',
#     port = 5432,
#     user = 'postgres',
#     password = 'eslaES*9343aWsaMzN',
#     database='postgres'
#     )
# cursor=connection.cursor()

In [44]:
# # # import psycopg2

# # conn=psycopg2.connect(database="final-project-db",user="postgres", password="",
# # host="127.0.0.1", port="5432")

# # cur = conn.cursor()

# cursor.execute("select * from pollutents_data_table")
# rows = cursor.fetchall()