# Database Connecting

In [16]:
#Dependencies
import pandas as pd
from sqlalchemy import create_engine
from getpass import getpass
import numpy as np

# !/usr/bin/env python 
# import psycopg2-binary

In [17]:
csv_file = "Resources/AQI_Data.csv"
AQI_data_df = pd.read_csv(csv_file)
AQI_data_df.head()

,Unnamed: 0,Date,State,Latitude,Longitude,AQI,CO,NO,NO2,O3,SO2,PM2_5,PM10,NH3,dt
0,0,2020-11-27 05:00:00,AK,63.588753,-154.493062,1,195.27,0.0,0.03,54.36,0.06,0.5,0.54,0.0,1606453200
1,1,2020-11-27 06:00:00,AK,63.588753,-154.493062,1,196.93,0.0,0.03,56.51,0.06,0.5,0.54,0.0,1606456800
2,2,2020-11-27 07:00:00,AK,63.588753,-154.493062,1,198.60,0.0,0.03,57.94,0.07,0.5,0.54,0.0,1606460400
3,3,2020-11-27 08:00:00,AK,63.588753,-154.493062,1,198.60,0.0,0.03,58.65,0.07,0.5,0.54,0.0,1606464000
4,4,2020-11-27 09:00:00,AK,63.588753,-154.493062,1,198.60,0.0,0.03,58.65,0.07,0.5,0.54,0.0,1606467600

In [18]:
polutants_AQI_data_df = AQI_data_df[['CO','NO','NO2','O3','SO2','PM2_5','PM10','NH3']].copy()

In [19]:
copy_AQI_data_df = AQI_data_df[['AQI','CO','NO','NO2','O3','SO2','PM2_5','PM10','NH3']].copy()

In [20]:
state_copy_AQI_data_df = AQI_data_df[['AQI','State','CO','NO','NO2','O3','SO2','PM2_5','PM10','NH3']].copy()

In [21]:
#Trying to establish connection with pgAdmin tables running through AWS instance
rds_connection_string = "root:C4$GO4GWmer@localhost:5432/FinalProjectDB"
engine = create_engine(f'postgresql://{rds_connection_string}')

# Trying to create a connection netween AWS and PostgreSQL database using psycopg2
# import psycopg2
# password = getpass('Enter database password')
# connection = psycopg2.connect(
#     host = 'final-project-db.cr0qbwwhutcx.us-east-2.rds.amazonaws.com',
#     port = 5432,
#     user = 'postgres',
#     password = 'password',
#     database='final-project-db'
#     )
# cursor=connection.cursor()

# -----
# import psycopg2
# password = getpass('Enter database password')
# connection (
#     host = 'final-project-db.ch7spkcdsndt.us-east-2.rds.amazonaws.com',
#     port = 5432,
#     user = 'root',
#     password = 'password',
#     database='final-project-db'
#     )
# cursor=connection.cursor()

ModuleNotFoundError: No module named 'psycopg2'

In [ ]:
## More frame works on how to establish this connection IF sqalchemy can run
# rds_connection_string = "<insert user name>:<insert password>@localhost:5432/FinalProjectDB"
# rds_connection_string = "jdbc:postgresql://final-project-db.cr0qbwwhutcx.us-east-2.rds.amazonaws.com:5432/final-project-db"
# rds_connection_string = "postgres:eslaES*9343p@localhost:5432/postgres"
# getpass('Enter database password')
# engine = create_engine('postgresql://postgres:password@final-project-db.cr0qbwwhutcx.us-east-2.rds.amazonaws.com:5432/postgres')

In [ ]:
#Checking for existing tables
engine.table_names()

In [22]:
state_copy_AQI_data_df.to_sql(name='AQI_Data', con=engine, if_exists='append', index=False)

NameError: name 'engine' is not defined

In [23]:
pd.read_sql_query('select * from AQI_Data', con=engine).head()

NameError: name 'engine' is not defined

In [ ]:
pd.read_sql_query('select * from AQI_Data where state=AK', con=engine).head()

In [ ]:
pd.read_sql_query('select * from AQI_Data where state=DC', con=engine).head()

In [ ]:
pd.read_sql_query('select * from AQI_Data where state=MA', con=engine).head()

In [ ]:
pd.read_sql_query('select * from AQI_Data where state=CA', con=engine).head()