In [ ]:
# Adding library dependencies
import pandas as pd
import numpy as np

from sqlalchemy import create_engine
from config import password
from sklearn.datasets import make_classification
from xgboost import XGBClassifier

In [30]:
# ! brew install libomp

Updating Homebrew...
^C

In [ ]:
# from sklearn.model_selection import train_test_split
# from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
# from sklearn.preprocessing import MinMaxScaler, LabelEncoder
# from sklearn.linear_model import LogisticRegression
# from sklearn.preprocessing import StandardScaler
# from sklearn.feature_selection import SelectFromModel
# from sklearn.ensemble import AdaBoostClassifier
# from sklearn.datasets import make_classification

# from matplotlib import pyplot as plt
# from sklearn.datasets import make_classification

In [17]:
# Store CSV into DataFrame
# Read in data and display first 5 rows
AQI_data = pd.read_csv('Resources/AQI_data.csv')
AQI_data.head(5)

,Date,State,Latitude,Longitude,AQI,CO,NO,NO2,O3,SO2,PM2_5,PM10,NH3,dt
0,2020-11-27 05:00:00,AK,63.588753,-154.493062,1,195.27,0.0,0.03,54.36,0.06,0.5,0.54,0.0,1606453200
1,2020-11-27 06:00:00,AK,63.588753,-154.493062,1,196.93,0.0,0.03,56.51,0.06,0.5,0.54,0.0,1606456800
2,2020-11-27 07:00:00,AK,63.588753,-154.493062,1,198.60,0.0,0.03,57.94,0.07,0.5,0.54,0.0,1606460400
3,2020-11-27 08:00:00,AK,63.588753,-154.493062,1,198.60,0.0,0.03,58.65,0.07,0.5,0.54,0.0,1606464000
4,2020-11-27 09:00:00,AK,63.588753,-154.493062,1,198.60,0.0,0.03,58.65,0.07,0.5,0.54,0.0,1606467600

In [13]:
state_data_table_df = AQI_data[['Date','State','Latitude','Longitude']].reset_index()
state_data_table_df.head()

   index                 Date State   Latitude   Longitude
0      0  2020-11-27 05:00:00    AK  63.588753 -154.493062
1      1  2020-11-27 06:00:00    AK  63.588753 -154.493062
2      2  2020-11-27 07:00:00    AK  63.588753 -154.493062
3      3  2020-11-27 08:00:00    AK  63.588753 -154.493062
4      4  2020-11-27 09:00:00    AK  63.588753 -154.493062

In [20]:
# Creating dataframe for pollutants_data_table with Index being unique key
pollutants_data_table_df = AQI_data[['Date','State','CO','NO','NO2','O3','SO2','PM2_5','PM10','NH3']].reset_index()
pollutants_data_table_df.head()

,index,Date,State,CO,NO,NO2,O3,SO2,PM2_5,PM10,NH3
0,0,2020-11-27 05:00:00,AK,195.27,0.0,0.03,54.36,0.06,0.5,0.54,0.0
1,1,2020-11-27 06:00:00,AK,196.93,0.0,0.03,56.51,0.06,0.5,0.54,0.0
2,2,2020-11-27 07:00:00,AK,198.60,0.0,0.03,57.94,0.07,0.5,0.54,0.0
3,3,2020-11-27 08:00:00,AK,198.60,0.0,0.03,58.65,0.07,0.5,0.54,0.0
4,4,2020-11-27 09:00:00,AK,198.60,0.0,0.03,58.65,0.07,0.5,0.54,0.0

In [21]:
# Creating dataframe for AQI_table with Index being unique key
AQI_table_df = AQI_data[['Date','State','AQI']].reset_index()
AQI_table_df.head()

   index                 Date State  AQI
0      0  2020-11-27 05:00:00    AK    1
1      1  2020-11-27 06:00:00    AK    1
2      2  2020-11-27 07:00:00    AK    1
3      3  2020-11-27 08:00:00    AK    1
4      4  2020-11-27 09:00:00    AK    1

In [ ]:
# use sql alchemy / pandas methods (maybe read_sql)
# from OpenWeather_AQI_DB_Final import engine

In [3]:
# Creating connection between AWS and PostgreSQL database
engine = create_engine(f'postgresql://root:{password}@final-project-db.ch7spkcdsndt.us-east-2.rds.amazonaws.com:5432/FinalProjectDB')

In [10]:
# Creating schema & state_data_table
engine.execute("""CREATE SCHEMA state_data_table_schema
CREATE TABLE state_data_table (
index INTEGER PRIMARY KEY,
Date TEXT,
State TEXT,
Latitude DOUBLE PRECISION,
Longitude DOUBLE PRECISION)""")

In [26]:
# Creating sample_df_table and sample_df_schema
engine.execute("""CREATE SCHEMA AQI_state_data_schema
CREATE TABLE state_table(
index INTEGER PRIMARY KEY,
Date TEXT,
State TEXT,
Latitude DOUBLE PRECISION,
Longitude DOUBLE PRECISION)
CREATE TABLE aqi_table(
index INTEGER,
Date TEXT,
State TEXT PRIMARY KEY,
AQI INTEGER
FOREIGN KEY(Index) REFERENCES state_data_table(Index))""");

ProgrammingError: (psycopg2.errors.SyntaxError) syntax error at or near "FOREIGN"
LINE 13: FOREIGN KEY (Index) REFERENCES state_data_table(Index))
         ^

[SQL: CREATE SCHEMA AQI_state_data_schema
CREATE TABLE state_table(
index INTEGER PRIMARY KEY,
Date TEXT,
State TEXT,
Latitude DOUBLE PRECISION,
Longitude DOUBLE PRECISION)
CREATE TABLE aqi_table(
index INTEGER,
Date TEXT,
State TEXT PRIMARY KEY,
AQI INTEGER
FOREIGN KEY (Index) REFERENCES state_data_table(Index))]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [14]:
# Populating the state_data_table in pgAdmin
state_data_table_df.to_sql(name='state_data_table',schema='state_data_table_schema', con=engine, chunksize=10, if_exists='replace')

In [18]:
# Creating schema & aqi_data_table
engine.execute("""CREATE SCHEMA aqi_data_table_schema
CREATE TABLE aqi_data_table (
index INTEGER PRIMARY KEY,
Date DATE,
State TEXT,
AQI INTEGER)""")

In [7]:
AK_full_aqi_table = engine.execute("""SELECT * FROM public.full_aqi_data_table WHERE 'State'='AK'""")

In [8]:
full_aqi_table

In [9]:
DC_full_aqi_table = engine.execute("""SELECT * FROM public.full_aqi_data_table WHERE 'State'='DC'""")

In [15]:
MA_full_aqi_table= engine.execute("""SELECT * FROM public.full_aqi_data_table WHERE 'State'='MA'""")

In [16]:
CA_full_aqi_table= engine.execute("""SELECT * FROM public.full_aqi_data_table WHERE 'State'='CA'""")

In [ ]:
print(AQI_data.shape)

In [ ]:
# Descriptive statistics for each column
#All cells are full, verifying there aren't gaps/missing values to clean/remove associated values
AQI_copy = AQI_data
# Labels are the values we want to predict
labels = AQI_data['AQI']
# Features are the values we want to evaluate in reference to the output label
features = AQI_data.drop(['Date', 'AQI', 'State','Latitude', 'Longitude', 'dt'], axis=1)

In [ ]:
# Using Skicit-learn to split data into training and testing sets
features_train, features_test, labels_train, labels_test = train_test_split(features, labels, random_state=1)
# test_size = 0.25 or another test size could be added if needed

In [ ]:
# Evaluating the output of the training split
features_train

In [ ]:
 # Evaluating the output of the testing split
features_test

In [ ]:
# Scaling features so that varying data ranges can be comparable 
scaler = StandardScaler().fit(features_train)
features_train_scaled = scaler.transform(features_train)
features_test_scaled = scaler.transform(features_test)

In [ ]:
# Import the model we are using
from sklearn.ensemble import RandomForestClassifier
# Instantiate model with 600 decision trees
rclf = RandomForestClassifier(n_estimators = 600, random_state = 7)
# Train the model on training data
rclf.fit(features_train_scaled, labels_train)


print(f'Training Score: {rclf.score(features_train_scaled, labels_train)}')
print(f'Testing Score: {rclf.score(features_test_scaled, labels_test)}')

In [ ]:
# Use the forest's predict method on the test data
predictions = rclf.predict(features_test)
# Calculate the absolute errors
errors = abs(predictions - labels_test)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

In [ ]:
# Calculate mean absolute percentage error (MAPE)
mape = (errors / labels_test)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

In [ ]:
# Evaluating impact importance of the different features (i.e. pollutants relavance on the AQI)
feature_importances = rclf.feature_importances_
results = sorted(zip(features.columns, rclf.feature_importances_), key = lambda x: x[1])
results

In [ ]:
# The goal here is to make a visualization with plotly showing the importance of the pollutants on the AQI score

cols = [r[0] for r in results]
width = [r[1] for r in results]

fig, ax = plt.subplots()

fig.set_size_inches(5,5)
plt.margins(y=0.001)

ax.barh(y=cols, width=width)

plt.show()

In [ ]:
## Considering another classifier model

# X_selected_train, X_selected_test, y_train, y_test = train_test_split(sel.transform(X_train_features), y_train_labels, random_state=1)
# scaler = StandardScaler().fit(X_selected_train)
# X_selected_train_scaled = scaler.transform(X_selected_train)
# X_selected_test_scaled = scaler.transform(X_selected_test)

# rclf = LogisticRegression().fit(X_train_features, y_train)
# print(f'Training Score: {rclf.score(X_train_features, y_train_labels)}')
# print(f'Testing Score: {rclf.score(X_test_features, y_test_labels)}')

In [ ]:
#query using different fileters from databases

In [ ]:
## Considering AdaBoost CLassifier

# from sklearn.ensemble import AdaBoostClassifier
#   from sklearn.datasets import make_classification
#   X, y = make_classification(n_samples=1000, n_features=4,
# ...                            n_informative=2, n_redundant=0,
# ...                            random_state=0, shuffle=False)
#   clf = AdaBoostClassifier(n_estimators=100, random_state=0)
#   clf.fit(X, y)
# AdaBoostClassifier(n_estimators=100, random_state=0)
#   clf.predict([[0, 0, 0, 0]])
# array([1])
#   clf.score(X, y)
# 0.983...

In [ ]:
# class sklearn.svm.SVC(*, C=1.0, kernel='rbf', degree=3, gamma='scale', coef0=0.0, shrinking=True, probability=False, tol=0.001, cache_size=200, class_weight=None, verbose=False, max_iter=- 1, decision_function_shape='ovr', break_ties=False, random_state=None)[source]¶

In [ ]:
## import numpy as np
# from sklearn.pipeline import make_pipeline
# from sklearn.preprocessing import StandardScaler
# X = np.array([[-1, -1], [-2, -1], [1, 1], [2, 1]])
# y = np.array([1, 1, 2, 2])
# from sklearn.svm import SVC
# clf = make_pipeline(StandardScaler(), SVC(gamma='auto'))
# clf.fit(X, y)
#Pipeline(steps=[('standardscaler', StandardScaler()),
#                ('svc', SVC(gamma='auto'))])

In [ ]:
! pip install xgboost

In [32]:
conda install xgboost

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /Users/michelle/opt/anaconda3/envs/mlen2

  added / updated specs:
    - xgboost


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    intel-openmp-2021.3.0      |    hecd8cb5_3375         950 KB
    mkl-2021.3.0               |     hecd8cb5_517       100.4 MB
    mkl-service-2.4.0          |   py38h9ed2024_0          45 KB
    mkl_random-1.2.2           |   py38hb2f4e1b_0         273 KB
    numpy-1.20.3               |   py38h4b4dc7a_0          23 KB
    numpy-base-1.20.3          |   py38he0bd621_0         4.4 MB
    scikit-learn-0.24.2        |   py38hb2f4e1b_0         4.9 MB
    scipy-1.7.1                |   py38h88652d9_2        15.5 MB
    threadpoolctl-2.2.0        |     pyh0d69192_0          16 KB
    ------------------------------------------------------------
                                           Total:       126.4 MB

The following NEW packages will be INSTALLED:

  _py-xgboost-mutex  pkgs/main/osx-64::_py-xgboost-mutex-2.0-cpu_0
  blas               pkgs/main/osx-64::blas-1.0-mkl
  intel-openmp       pkgs/main/osx-64::intel-openmp-2021.3.0-hecd8cb5_3375
  joblib             pkgs/main/noarch::joblib-1.0.1-pyhd3eb1b0_0
  libxgboost         pkgs/main/osx-64::libxgboost-1.3.3-h23ab428_0
  mkl                pkgs/main/osx-64::mkl-2021.3.0-hecd8cb5_517
  mkl-service        pkgs/main/osx-64::mkl-service-2.4.0-py38h9ed2024_0
  mkl_fft            pkgs/main/osx-64::mkl_fft-1.3.0-py38h4a7008c_2
  mkl_random         pkgs/main/osx-64::mkl_random-1.2.2-py38hb2f4e1b_0
  numpy-base         pkgs/main/osx-64::numpy-base-1.20.3-py38he0bd621_0
  py-xgboost         pkgs/main/osx-64::py-xgboost-1.3.3-py38hecd8cb5_0
  scikit-learn       pkgs/main/osx-64::scikit-learn-0.24.2-py38hb2f4e1b_0
  scipy              pkgs/main/osx-64::scipy-1.7.1-py38h88652d9_2
  threadpoolctl      pkgs/main/noarch::threadpoolctl-2.2.0-pyh0d69192_0
  xgboost            pkgs/main/osx-64::xgboost-1.3.3-py38hecd8cb5_0

The following packages will be REMOVED:

  libblas-3.9.0-11_osx64_openblas
  libcblas-3.9.0-11_osx64_openblas
  libgfortran5-9.3.0-h6c81a4c_23
  liblapack-3.9.0-11_osx64_openblas
  libopenblas-0.3.17-openmp_h3351f45_1

The following packages will be SUPERSEDED by a higher-priority channel:

  libgfortran        conda-forge::libgfortran-5.0.0-9_3_0_~ --> pkgs/main::libgfortran-3.0.1-h93005f0_2
  numpy              conda-forge::numpy-1.21.2-py38h49b992~ --> pkgs/main::numpy-1.20.3-py38h4b4dc7a_0



Downloading and Extracting Packages
numpy-1.20.3         | 23 KB     | ##################################### | 100%
scipy-1.7.1          | 15.5 MB   | ##################################### | 100%
mkl-2021.3.0         | 100.4 MB  | ##################################### | 100%
intel-openmp-2021.3. | 950 KB    | ##################################### | 100%
scikit-learn-0.24.2  | 4.9 MB    | ##################################### | 100%
mkl_random-1.2.2     | 273 KB    | ##################################### | 100%
numpy-base-1.20.3    | 4.4 MB    | ##################################### | 100%
threadpoolctl-2.2.0  | 16 KB     | ##################################### | 100%
mkl-service-2.4.0    | 45 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: -

    Installed package of scikit-learn can be accelerated using scikit-learn-intelex.
    More details are available here: https://intel.github.io/scikit-learn-intelex

    For example:

        $ conda install scikit-learn-intelex
        $ python -m sklearnex my_application.py



done

Note: you may need to restart the kernel to use updated packages.

In [ ]:
!conda install scikit-learn-intelex

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /Users/michelle/opt/anaconda3/envs/mlen2

  added / updated specs:
    - scikit-learn-intelex


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    daal4py-2021.3.0           |   py38h01d92e1_0         8.2 MB
    dal-2021.3.0               |     hecd8cb5_555        66.1 MB
    mpi-1.0                    |            mpich          13 KB
    mpich-3.3.2                |       hc856adb_0         2.5 MB
    scikit-learn-intelex-2021.3.0|   py38hecd8cb5_0          38 KB
    tbb-2021.3.0               |       hf7b0b51_0         155 KB
    ------------------------------------------------------------
                                           Total:        76.9 MB

The following NEW packages will be INSTALLED:

  daal4py            pkgs/main/osx-64::daal4py-2021.3.0-py38h01d92e1_0
  dal                pkgs/main/osx-64::dal-2021.3.0-hecd8cb5_555
  mpi                pkgs/main/osx-64::mpi-1.0-mpich
  mpich              pkgs/main/osx-64::mpich-3.3.2-hc856adb_0
  scikit-learn-inte~ pkgs/main/osx-64::scikit-learn-intelex-2021.3.0-py38hecd8cb5_0
  tbb                pkgs/main/osx-64::tbb-2021.3.0-hf7b0b51_0


Proceed ([y]/n)?

In [34]:
# check xgboost version? Cofused by this error, unable to try associated classifier model - see sample below
import xgboost
# print(xgboost.__version__)

ImportError: cannot import name 'CUDF_concat' from 'xgboost.compat' (/Users/michelle/opt/anaconda3/envs/mlen2/lib/python3.8/site-packages/xgboost/compat.py)

In [ ]:
# # test classification dataset
# from sklearn.datasets import make_classification
# # define dataset
# X, y = make_classification(n_samples=1000, n_features=20, n_informative=15, n_redundant=5, random_state=7)
# # summarize the dataset
# print(X.shape, y.shape)

In [ ]:
# make predictions using xgboost for classification
from numpy import asarray
from sklearn.datasets import make_classification
from xgboost import XGBClassifier
# define dataset
labels, features = make_classification(n_samples=1000, n_features=20, n_informative=15, n_redundant=5, random_state=7)
# define the model
model = XGBClassifier()
# fit the model on the whole dataset
model.fit(X, y)
# make a single prediction
row = [0.2929949,-4.21223056,-1.288332,-2.17849815,-0.64527665,2.58097719,0.28422388,-7.1827928,-1.91211104,2.73729512,0.81395695,3.96973717,-2.66939799,3.34692332,4.19791821,0.99990998,-0.30201875,-4.43170633,-2.82646737,0.44916808]
row = asarray([row])
yhat = model.predict(row)
print('Predicted Class: %d' % yhat[0])

# make predictions using xgboost for classification
from numpy import asarray
from sklearn.datasets import make_classification
from xgboost import XGBClassifier
# define dataset
X, y = make_classification(n_samples=1000, n_features=20, n_informative=15, n_redundant=5, random_state=7)
# define the model
model = XGBClassifier()
# fit the model on the whole dataset
model.fit(X, y)
# make a single prediction
row = [0.2929949,-4.21223056,-1.288332,-2.17849815,-0.64527665,2.58097719,0.28422388,-7.1827928,-1.91211104,2.73729512,0.81395695,3.96973717,-2.66939799,3.34692332,4.19791821,0.99990998,-0.30201875,-4.43170633,-2.82646737,0.44916808]
row = asarray([row])
yhat = model.predict(row)
print('Predicted Class: %d' % yhat[0])

In [37]:
! conda deactivate
! conda activate mlenv

CommandNotFoundError: Your shell has not been properly configured to use 'conda deactivate'.
To initialize your shell, run

    $ conda init <SHELL_NAME>

Currently supported shells are:
  - bash
  - fish
  - tcsh
  - xonsh
  - zsh
  - powershell

See 'conda init --help' for more information and options.

IMPORTANT: You may need to close and restart your shell after running 'conda init'.



CommandNotFoundError: Your shell has not been properly configured to use 'conda activate'.
To initialize your shell, run

    $ conda init <SHELL_NAME>

Currently supported shells are:
  - bash
  - fish
  - tcsh
  - xonsh
  - zsh
  - powershell

See 'conda init --help' for more information and options.

IMPORTANT: You may need to close and restart your shell after running 'conda init'.