In [14]:
import pandas as pd
from sqlalchemy import create_engine
from getpass import getpass
import numpy as np

# !/usr/bin/env python 
import psycopg2-binary

SyntaxError: invalid syntax (<ipython-input-14-cf484e7a8bf0>, line 7)

In [11]:
# !/usr/bin/env python

Python 3.7.10 (default, Feb 26 2021, 10:16:00)
[Clang 10.0.0 ] :: Anaconda, Inc. on darwin
Type "help", "copyright", "credits" or "license" for more information.
>>>
KeyboardInterrupt
>>>
>>>

In [3]:
csv_file = "Resources/AQI_Data.csv"
AQI_data_df = pd.read_csv(csv_file)
AQI_data_df.head()

,Date,AQI,CO,NO,NO2,O3,SO2,PM2_5,PM10,NH3,State,Lat,Long
0,2020-11-27 05:00:00,1,195.27,0.0,0.03,54.36,0.06,0.5,0.54,0.0,AK,63.588753,-154.493062
1,2020-11-27 06:00:00,1,196.93,0.0,0.03,56.51,0.06,0.5,0.54,0.0,AK,63.588753,-154.493062
2,2020-11-27 07:00:00,1,198.60,0.0,0.03,57.94,0.07,0.5,0.54,0.0,AK,63.588753,-154.493062
3,2020-11-27 08:00:00,1,198.60,0.0,0.03,58.65,0.07,0.5,0.54,0.0,AK,63.588753,-154.493062
4,2020-11-27 09:00:00,1,198.60,0.0,0.03,58.65,0.07,0.5,0.54,0.0,AK,63.588753,-154.493062

In [4]:
polutants_AQI_data_df = AQI_data_df[['CO','NO','NO2','O3','SO2','PM2_5','PM10','NH3']].copy()

In [5]:
copy_AQI_data_df = AQI_data_df[['AQI','CO','NO','NO2','O3','SO2','PM2_5','PM10','NH3']].copy()

In [6]:
state_copy_AQI_data_df = AQI_data_df[['AQI','State','CO','NO','NO2','O3','SO2','PM2_5','PM10','NH3']].copy()

In [ ]:
# password = getpass('Enter database password')
rds_connection_string = "root:C4$GO4GWmer@localhost:5432/FinalProjectDB"
engine = create_engine(f'postgresql://{rds_connection_string}')

# Creating connection netween AWS and PostgreSQL database using psycopg2
# import psycopg2
# password = getpass('Enter database password')
# connection = psycopg2.connect(
#     host = 'final-project-db.cr0qbwwhutcx.us-east-2.rds.amazonaws.com',
#     port = 5432,
#     user = 'postgres',
#     password = 'password',
#     database='final-project-db'
#     )
# cursor=connection.cursor()


# import psycopg2
# password = getpass('Enter database password')
# connection (
#     host = 'final-project-db.ch7spkcdsndt.us-east-2.rds.amazonaws.com',
#     port = 5432,
#     user = 'root',
#     password = 'password',
#     database='final-project-db'
#     )
# cursor=connection.cursor()

In [ ]:
# rds_connection_string = "<insert user name>:<insert password>@localhost:5432/FinalProjectDB"
# rds_connection_string = "jdbc:postgresql://final-project-db.cr0qbwwhutcx.us-east-2.rds.amazonaws.com:5432/final-project-db"
# rds_connection_string = "postgres:eslaES*9343p@localhost:5432/postgres"
# getpass('Enter database password')
# engine = create_engine('postgresql://postgres:password@final-project-db.cr0qbwwhutcx.us-east-2.rds.amazonaws.com:5432/postgres')

In [ ]:
engine.table_names()

In [ ]:
# Loading data into Postgres table from CSV

# with open('AQI_data.csv', 'r') as row:
#     next(row)# Skip the header row.
#     cursor.copy_from(row, 'state_data_table', sep=',')
    
# connection.commit()

In [ ]:
state_copy_AQI_data_df.to_sql(name='AQI_Data', con=engine, if_exists='append', index=False)

In [ ]:
pd.read_sql_query('select * from AQI_Data', con=engine).head()

In [ ]:
pd.read_sql_query('select * from AQI_Data where state=AK', con=engine).head()

In [ ]:
pd.read_sql_query('select * from AQI_Data where state=DC', con=engine).head()

In [ ]:
pd.read_sql_query('select * from AQI_Data where state=MA', con=engine).head()

In [ ]:
pd.read_sql_query('select * from AQI_Data where state=CA', con=engine).head()