In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from getpass import getpass

### Storing CSV into DataFrame

In [ ]:
csv_file = "Resources/AQI_data.csv"
AQI_data_df = pd.read_csv(csv_file)
AQI_data_df.head()

### Saving different DataFrames

In [ ]:
# Creating dataframe for state_data_table with Index being unique key
state_data_table_df = AQI_data_df[['Date','State','Latitude','Longitude']].reset_index()
state_data_table_df.head()

In [ ]:
# Creating dataframe for AQI_table with Index being unique key
AQI_table_df = AQI_data_df[['Date','State','AQI']].reset_index()
AQI_table_df.head()

In [ ]:
# Creating dataframe for pollutents_data_table with Index being unique key
pollutents_data_table_df = AQI_data_df[['Date','State','CO','NO','NO2','O3','SO2','PM2_5','PM10','NH3']].reset_index()
pollutents_data_table_df.head()

### Tested cells below to see if data is populated into pgAdmin and it worked

In [ ]:
# data = {'Name': ['Tom', 'Joseph', 'Krish', 'John'], 'Age': [20, 21, 19, 18]}

In [ ]:
# df=pd.DataFrame(data)
# df.head()

In [ ]:
# engine = create_engine('postgresql://postgres:elodie1756postgres9343%@database-1.cr0qbwwhutcx.us-east-2.rds.amazonaws.com:5432/postgres')

In [ ]:
# engine.execute("""CREATE SCHEMA schema_test
# CREATE TABLE df_table (
# Name TEXT PRIMARY KEY,
# Age INTEGER)""")

In [ ]:
# df.to_sql(name='df_table',schema='schema_test', con=engine, chunksize=10, if_exists='replace')

### Connecting to AWS database

In [11]:
# Creating connection between AWS and PostgreSQL database using SQLAlchemy
import psycopg2
engine = create_engine('postgresql://postgres:elodie1756postgres9343%@database-1.cr0qbwwhutcx.us-east-2.rds.amazonaws.com:5432/postgres')

In [13]:
# Creating a schema for state_data_table DF
engine.execute("""CREATE SCHEMA state_data_table_schema
CREATE TABLE state_data_table (
index INTEGER PRIMARY KEY,
Date TEXT,
State TEXT,
Latitude DOUBLE PRECISION,
Longitude DOUBLE PRECISION)""")

In [ ]:
# Creating the table from state_data_table_df
state_data_table_df.to_sql(name='state_data_table',schema='state_data_table_schema',con=engine, chunksize=10,if_exists='replace')

In [ ]:
# # Creating state_data_table
# cursor.execute("""CREATE TABLE state_data_table(
# index INTEGER PRIMARY KEY,
# Date DATE,
# State text,
# Latitude INTEGER,
# Longitude INTEGER)""")
# connection.commit()

In [ ]:
# Loading data into Postgres table from DataFrame

In [ ]:
#

### Check for tables

In [ ]:
# engine.table_names()

In [ ]:
# Adding data into state_data_df
# state_data_table_tst.to_sql(name='state_data_table', con=engine, if_exists='append', index=False)

In [ ]:
# Reading data from state_data_df
# pd.read_sql_query('select * from state_data_table', con=engine).head()