In [2]:
import pandas as pd
from sqlalchemy import create_engine
from getpass import getpass

### Storing CSV into DataFrame

In [3]:
csv_file = "Resources/AQI_data.csv"
AQI_data_df = pd.read_csv(csv_file)
AQI_data_df.head()

,Date,State,Latitude,Longitude,AQI,CO,NO,NO2,O3,SO2,PM2_5,PM10,NH3,dt
0,2020-11-27 05:00:00,AK,63.588753,-154.493062,1,195.27,0.0,0.03,54.36,0.06,0.5,0.54,0.0,1606453200
1,2020-11-27 06:00:00,AK,63.588753,-154.493062,1,196.93,0.0,0.03,56.51,0.06,0.5,0.54,0.0,1606456800
2,2020-11-27 07:00:00,AK,63.588753,-154.493062,1,198.60,0.0,0.03,57.94,0.07,0.5,0.54,0.0,1606460400
3,2020-11-27 08:00:00,AK,63.588753,-154.493062,1,198.60,0.0,0.03,58.65,0.07,0.5,0.54,0.0,1606464000
4,2020-11-27 09:00:00,AK,63.588753,-154.493062,1,198.60,0.0,0.03,58.65,0.07,0.5,0.54,0.0,1606467600

### Saving different DataFrames

In [4]:
# Creating dataframe for state_data_table
state_data_table_df = AQI_data_df[['Date','State','Latitude',"Longitude"]]
state_data_table_df.head()

                  Date State   Latitude   Longitude
0  2020-11-27 05:00:00    AK  63.588753 -154.493062
1  2020-11-27 06:00:00    AK  63.588753 -154.493062
2  2020-11-27 07:00:00    AK  63.588753 -154.493062
3  2020-11-27 08:00:00    AK  63.588753 -154.493062
4  2020-11-27 09:00:00    AK  63.588753 -154.493062

In [5]:
# Creating dataframe for state_data_table
state_data_table_tst = AQI_data_df[['Date','State','Latitude',"Longitude"]].reset_index()
state_data_table_tst.head()

   index                 Date State   Latitude   Longitude
0      0  2020-11-27 05:00:00    AK  63.588753 -154.493062
1      1  2020-11-27 06:00:00    AK  63.588753 -154.493062
2      2  2020-11-27 07:00:00    AK  63.588753 -154.493062
3      3  2020-11-27 08:00:00    AK  63.588753 -154.493062
4      4  2020-11-27 09:00:00    AK  63.588753 -154.493062

In [6]:
# Creating dataframe for pollutents_data_table
pollutents_data_table_df = AQI_data_df[['Date','State','CO','NO','NO2','O3','SO2','PM2_5','PM10','NH3']]
pollutents_data_table_df.head()

                  Date State      CO   NO   NO2     O3   SO2  PM2_5  PM10  NH3
0  2020-11-27 05:00:00    AK  195.27  0.0  0.03  54.36  0.06    0.5  0.54  0.0
1  2020-11-27 06:00:00    AK  196.93  0.0  0.03  56.51  0.06    0.5  0.54  0.0
2  2020-11-27 07:00:00    AK  198.60  0.0  0.03  57.94  0.07    0.5  0.54  0.0
3  2020-11-27 08:00:00    AK  198.60  0.0  0.03  58.65  0.07    0.5  0.54  0.0
4  2020-11-27 09:00:00    AK  198.60  0.0  0.03  58.65  0.07    0.5  0.54  0.0

### Connecting to AWS database

In [9]:
# Creating connection netween AWS and PostgreSQL database using psycopg2
import psycopg2
password = getpass('Enter database password')
connection = psycopg2.connect(
    host = 'final-project-db.cr0qbwwhutcx.us-east-2.rds.amazonaws.com',
    port = 5432,
    user = 'postgres',
    password = 'password',
    database='final-project-db'
    )
cursor=connection.cursor()

Enter database password········

OperationalError: FATAL:  password authentication failed for user "postgres"
FATAL:  password authentication failed for user "postgres"

In [ ]:
# Creating state_data_table
cursor.execute("""CREATE TABLE state_data_table(
index INTEGER PRIMARY KEY,
Date DATE,
State text,
Latitude INTEGER,
Longitude INTEGER)""")
connection.commit()

In [ ]:
# Loading data into Postgres table from CSV

with open('AQI_data.csv', 'r') as row:
    next(row)# Skip the header row.
    cursor.copy_from(row, 'state_data_table', sep=',')
    
connection.commit()

In [ ]:
# rds_connection_string = "<insert user name>:<insert password>@localhost:5432/customer_db"
# rds_connection_string = "jdbc:postgresql://final-project-db.cr0qbwwhutcx.us-east-2.rds.amazonaws.com:5432/final-project-db"
# rds_connection_string = "postgres:password_pgAdmin@localhost:5432/postgres"
# getpass('Enter database password')
# engine = create_engine('postgresql://postgres:password@final-project-db.cr0qbwwhutcx.us-east-2.rds.amazonaws.com:5432/postgres')

### Check for tables

In [ ]:
# engine.table_names()

In [ ]:
# Adding data into state_data_df
# state_data_table_tst.to_sql(name='state_data_table', con=engine, if_exists='append', index=False)

In [ ]:
# Reading data from state_data_df
# pd.read_sql_query('select * from state_data_table', con=engine).head()